<template>
  <div id="app">
    <wzy :clientOptions="clientOptions" :clientType="clientType" :wzy-data="wzy1">
      <div slot-scope="{ slotScope }" v-if="slotScope.wzyProp('post')">
      {{ slotScope.wzyProp('post').loading }}
        <div v-if="!slotScope.wzyProp('post').editing"
            class="wzy-wrapper__edit-icon"
            @click.prevent.stop="slotScope.toggleEditMode(true, 'post')"
            >
            <span>edit</span>
          </div>
          <div v-else
            @click.prevent.stop="slotScope.toggleEditMode(false, 'post')"
            class="wzy-wrapper__close-icon">
            <span>close</span>
          </div>
        <p>{{ slotScope.wzyProp('post').value.data.title }}</p>
        <wzy-input
          v-if="slotScope.wzyProp('post').editing"
          :value="slotScope.wzyProp('post').value.data.title"
          @update="$event => slotScope.updateDataFromInput('post', $event, 'title')"></wzy-input>
      </div>
    </wzy>
  </div>
</template>

<script>
import WzyInput from '@/components/WzyInput/WzyInput.vue';
import Wzy from '@/components/Wzy/Wzy.vue';

export default {
  name: 'app',
  // data() {
  //   return {
  //     clientType: 'Local',
  //     clientOptions: {
  //       baseUrl: 'http://localhost:3000',
  //     },
  //     wzy1: {
  //       post: {
  //         title: 'test-title',
  //         accessor: 'post',
  //       },
  //     },
  //   };
  // },
  data() {
    return {
      clientType: 'REST',
      clientOptions: {
        baseUrl: 'http://localhost:3000',
      },
      wzy1: {
        post: {
          path: 'posts/1',
          accessor: 'post',
        },
      },
    };
  },
  components: {
    Wzy,
    WzyInput,
  },
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
